.bgMoveRect,
.animationRect
{
    z-index: -101;
    width: 100%;
    height: 100vh;
    position: fixed;
}


.animationRect
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* background-color: #e80202; */
    background-color: #ffffff;
}


.blockRect
{
    z-index: -100;
    position: absolute;
    width: 50px;
    height: 100px;
    background-color: #e80202;
    box-shadow: 10px 10px 50px rgba(0, 0, 0, .3);
    transition: all 3s ease-in-out;
}


p
{
    text-shadow: 10px 10px 50px rgba(0, 0, 0, .3);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 10em;
    color: white;
}


span
{
    font-size: .5em;
}