@media screen and (max-width: 600px)
{
    .blockRect
    {
        width: 25px;
        height: 50px;
    }


    p
    {
        font-size: 3.5em;
    }


    span
    {
        font-size: .5em;
    }
}